extends layout

block body
    table
        tbody
            tr
                th ID
                td= user.id
            tr
                th Username
                td= user.username
            tr
                th Name
                td= user.displayName
            if user.emails
                tr
                    th Email
                    td= user.emails[0].value

    p #[a(href="/logout") Log out]
